<div id="<%= dom_id service_record %>">
  <p>
    <strong>Partner:</strong>
    <%= service_record.partner_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= service_record.location_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= service_record.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service_record.status %>
  </p>

</div>
