<div id="<%= dom_id feedback %>">
  <p>
    <strong>Service record:</strong>
    <%= feedback.service_record_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

</div>
