<div id="<%= dom_id location %>">
  <p>
    <strong>Account:</strong>
    <%= location.account_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= location.postal_code %>
  </p>

  <p>
    <strong>Cleaning frequency:</strong>
    <%= location.cleaning_frequency %>
  </p>

</div>
